<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Document</title>
</head>
<body>
    <h1>FaceBook</h1>
    <a href=" "> Log in</a>


    
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '602858156930238',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
      });
        
      FB.AppEvents.logPageView();   
      fbSDKLoaded();
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="./fbOauth.js"></script>
</body>
</html>